<section>
  <article class="bg-light">
    <div class="container-fluid h-100">
      <div class="row h-100 align-items-center mx-5">
        <div class="col-12 my-5 text-center">
          <div class="container text-center">
            <i class="fas fa-users fa-5x fa-fw"></i>
            <h4 class="card-title font-weight-light pt-3">Users Data</h4>
            <button type="button" class="btn btn-primary mx-auto mt-2 w-50" data-toggle="modal"
              data-target="#addUserModal"><i class="fas fa-user fa-fw"></i>&nbsp;&nbsp;Register
              User</button>
          </div>
          <!-- Advance Search -->
          <div class="container-fluid align-items-center">
            <button class="btn btn-dark my-3 w-50" type="button" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample"><i
                class="fas fa-search fa-fw"></i>&nbsp;&nbsp;Advance Search</button>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="container mx-auto">
                <form #searchForm="ngForm" class="mt-3">
                  <div class="form-row">
                    <div class="form-group col-md-5">
                      <input type="text" name="searchField" class="form-control" placeholder="Search by..." ngModel>
                    </div>
                    <div class="form-group col-md-3">
                      <select class="custom-select form-control" name="searchOption" ngModel>
                        <option value="" disabled selected hidden>Choose search criteria...</option>
                        <option *ngFor="let option of searchOptions" [ngValue]="option">{{ option.text }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <button type="submit" class="btn btn-primary btn-block" (click)="onReadUser(searchForm)">Find
                        User</button>
                    </div>
                    <div class="col-md-2">
                      <button type="button" class="btn btn-outline-success btn-block" (click)="syncUsers()">
                        <i class="fas fa-sync-alt"></i>&nbsp;Syncronyce</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Advance Search -->
          <!-- Search Users - Pipe -->
          <div class="container mx-auto my-3">
            <form #filterForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" name="searchField" class="form-control" placeholder="Filter table..."
                    [(ngModel)]="searchTerm">
                </div>
              </div>
            </form>
          </div>
          <!-- Search Users - Pipe -->
          <!-- User Data Table -->
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <!-- <th scope="col">UID</th> -->
                  <th scope="col">EMAIL</th>
                  <th scope="col">NAME</th>
                  <th scope="col">LASTNAME</th>
                  <!-- <th scope="col">LASTNAME</th> -->
                  <th scope="col">LOCATION</th>
                  <th scope="col">ROL</th>
                  <th scope="col">OPERATIONS</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr *ngFor="let user of users | async | userFilter:searchTerm; let i = index">
                  <td>{{ i+1 }}</td>
                  <!-- <td>{{ user.uid }}</td> -->
                  <td>{{ user.email }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.lastName1 }}</td>
                  <!-- <td>{{ user.lastName2 }}</td> -->
                  <td>{{ user.location }}</td>
                  <td>{{ user.rol }}</td>
                  <td>
                    <button type="button" class="btn btn-info btn-sm mr-1" data-toggle="modal"
                      data-target="#updateModal" (click)="selectUser(user)">
                      <i class="fas fa-edit fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm ml-1" data-toggle="modal"
                      data-target="#deleteModal" (click)="selectUser(user)">
                      <i class="fas fa-trash fa-fw"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- User Data Table -->
        </div>
      </div>
    </div>
  </article>
</section>
<!-- Add User - Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent">
      <form #userAddForm="ngForm">
        <div class="modal-header bg-primary text-white">
          <i class="fas fa-user fa-2x ml-1"></i>
          <h5 class="modal-title ml-2" id="updateModalTitle">Register user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userEmail"> Email </label>
              <input type="email" name="userEmail" class="form-control" [(ngModel)]="email"
                placeholder="Enter your email...">
            </div>
            <div class="form-group col-md-6">
              <label for="userPassword"> Password </label>
              <div class="input-group">
                <input type="{{ showPass ? 'text' : 'password' }}" name="userPassword" class="form-control"
                  [(ngModel)]="password" placeholder="Enter your password...">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <a class="show-pass" (click)="showPassword()">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="userName"> Name </label>
              <input type="text" name="userName" class="form-control" [(ngModel)]="name"
                placeholder="Enter your name...">
            </div>
            <div class="form-group col-md-4">
              <label for="userLastName1"> First Lastname </label>
              <input type="text" name="userLastName1" class="form-control" [(ngModel)]="lastName1"
                placeholder="Enter first lastname...">
            </div>
            <div class="form-group col-md-4">
              <label for="userLastName2"> Second Lastname </label>
              <input type="text" name="userLastName2" class="form-control" [(ngModel)]="lastName2"
                placeholder="Enter second lastname...">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userLocation"> Location </label>
              <select class="custom-select form-control" name="userLocation" [(ngModel)]="defaultLocationOpt">
                <option disabled selected hidden>Select your location...</option>
                <option *ngFor="let location of locations" [ngValue]="location">{{ location }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="userRol"> System Rol </label>
              <select class="custom-select form-control" name="userRol" [(ngModel)]="defaultRolOpt">
                <option disabled selected hidden>Select your rol...</option>
                <option *ngFor="let rol of roles" [ngValue]="rol">{{ rol }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-secondary" (click)="resetForm(userAddForm)"
            data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onCreateUser(userAddForm)"
            data-dismiss="modal">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update User - Modal -->
<div *ngIf="selectedUser" class="modal fade" id="updateModal" tabindex="-1" role="dialog"
  aria-labelledby="updateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent">
      <form #userUpdateForm="ngForm">
        <div class="modal-header bg-info text-white">
          <i class="fas fa-edit fa-2x ml-1"></i>
          <h5 class="modal-title ml-2" id="updateModalTitle">Update user data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-light">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userEmail"> Email </label>
              <input type="email" name="userEmail" class="form-control" [(ngModel)]="this.us.selectedUser.email"
                readonly>
            </div>
            <div class="form-group col-md-6">
              <label for="userPassword"> Password </label>
              <div class="input-group">
                <input type="{{ showPass ? 'text' : 'password' }}" name="userPassword" class="form-control"
                  [(ngModel)]="this.us.selectedUser.password" readonly>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <a class="show-pass" (click)="showPassword()">
                      <i class="fas fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="userName"> Name </label>
              <input type="text" name="userName" class="form-control" [(ngModel)]="this.us.selectedUser.name">
            </div>
            <div class="form-group col-md-4">
              <label for="userLastName"> First Lastname </label>
              <input type="text" name="userLastName1" class="form-control" [(ngModel)]="this.us.selectedUser.lastName1">
            </div>
            <div class="form-group col-md-4">
              <label for="userLastName"> Second Lastname </label>
              <input type="text" name="userLastName2" class="form-control" [(ngModel)]="this.us.selectedUser.lastName2">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userLocation"> Location </label>
              <select class="form-control" name="userLocation" [(ngModel)]="this.us.selectedUser.location">
                <option *ngFor="let location of locations">{{ location }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="userRol"> System Rol </label>
              <select class="form-control" name="userRol" [(ngModel)]="this.us.selectedUser.rol">
                <option *ngFor="let rol of roles">{{ rol }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-secondary" (click)="resetForm(userUpdateForm)"
            data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-info" (click)="onUpdateUser(userUpdateForm)" data-dismiss="modal">Save
            changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Delete User - Modal -->
<div *ngIf="selectedUser" class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent">
      <div class="modal-header bg-danger text-white">
        <i class="fas fa-exclamation-circle fa-2x ml-1"></i>
        <h5 class="modal-title ml-2" id="deleteModalTitle">Delete confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <div class="container-fluid text-center mt-2 mb-2">
          <p>Are you sure you want to delete<strong class="text-danger">"{{ selectedUser.name }}"</strong> profile?</p>
          <p>All information associated to this user profile will be permanently deleted.<br>
            <strong class="text-danger">This operation can not be undone.</strong></p>
        </div>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="onDeleteUser(selectedUser)">Delete</button>
      </div>
    </div>
  </div>
</div>
