<!-- Login -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 my-5 text-center">
                <div class="container text-center mb-3">
                    <a [routerLink]="['/home']"><img class="rounded mx-auto d-block logo" src="../../../../assets/img/png/zen-black.png" alt="Oracle-System-Logo"></a>
                    <h4 class="card-title font-weight-light pt-3">Sign in to {{ title }}</h4>
                </div>
                <div class="container py-2">
                    <div class="card">
                        <article class="card-body">
                            <form [formGroup]="userForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email2" formControlName="email" required autocomplete="new-password" class="form-control">
                                    <div *ngIf="formErrors.email" class="help is-danger mt-3 text-danger">
                                        {{ formErrors.email }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password2" formControlName="password" required autocomplete="new-password" class="form-control">
                                    <div *ngIf="formErrors.password" class="help is-danger">
                                        {{ formErrors.password }}
                                    </div>
                                </div>
                                <hr class="rgba-white-light mx-4 my-3">
                                <div class="form-group">
                                    <button type="submit" class="button btn btn-primary btn-block" [disabled]="!userForm.valid"> Login </button>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <p class="m-3">New to {{ title }}? <a [routerLink]="['/register']"> Create an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Login -->